
@{
    ViewBag.Title = "Contactanos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <div class="form-horizontal">
        <div class="container">
            <div class="row"> 
                 <div class="col-lg-offset-4"><h2>Contactanos</h2></div>
            </div>
        </div>
    </div>
</div>


