@{
    ViewBag.Title = "Home Page";
    
}

<!-- banner -->
<div class="banner">
    <div class="container">
        <div class="banner_bg">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Productividad y calidad.</h3>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Entrega rápida de resultados.</h3>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Comunicación entre cliente y desarrolladores.</h3>
                            </div>
                        </li>
                        <li>
                            <div class="wthree_banner_info_grid">
                                <h3>Motivación del equipo.</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            
            <!-- //flexSlider -->
        </div>
    </div>
    <div class="w3l_banner_info">
        <div class="container">
            <div class="col-md-4 w3l_banner_info_left">
                <div class="col-xs-4 w3l_banner_info_left_grid">
                    <div class="w3l_banner_info_left_grid1">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 w3l_banner_info_left_grid_left">
                    <h3><a href="single.html">Como usar la aplicación</a></h3>
                    <p>En pocos pasos aprende de forma sencilla como usar esta fabulosa aplicación.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3l_banner_info_left">
                <div class="col-xs-4 w3l_banner_info_left_grid">
                    <div class="w3l_banner_info_left_grid1">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 w3l_banner_info_left_grid_left">
                    <h3><a href="http://aducuwawok.jimdo.com">Blog</a></h3>
                    <p>En proceso de desarrollo.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-4 w3l_banner_info_left">
                <div class="col-xs-4 w3l_banner_info_left_grid">
                    <div class="w3l_banner_info_left_grid1">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-8 w3l_banner_info_left_grid_left">
                    <h3><a href="Contact.cshtml">Contactanos</a></h3>
                    <p>¿Tienes alguna inquietud? <br/>Comunicate con nosotros.</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="w3ls_banner_bottom_grids">
            <div class="col-md-6 w3ls_banner_bottom_grid_left">
                <h3>Bienvenido a Scrum++</h3>
                <p>
                    En este lugar puedes encontrar una completa y basta herramienta
                    para la gestión de proyectos mediante la metodología ágil 
                    denominada SCRUM. Si lo deseas te guiaremos atravez del proceso
                    de gestión, proporcionando una introducción completa en el uso de las
                    características de nuestra aplicación.
                </p>
            </div>
            <div class="col-md-6 w3ls_banner_bottom_grid_right">
                <div class="view view-seventh">
                    <img src="~/images/1.jpg" alt="productividad" class="img-responsive" />
                    <div class="mask">
                        <h3>Mejora tu productividad</h3>
                        <p>
                            Obten una mejora significativa aplicando esta metodología
                            en el desarrollo de tus aplicaciones, manten a tu equipo de
                            trabajo comunicado y cumple con la entrega de tu producto.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- services-bottom -->
<div class="services-bottom">
    <div class="col-md-6 agile_services_bottom_grid_left">
        <h3><span>Scrum</span> características</h3>
        <p class="eum">Scrum es un proceso en el que se aplican de manera regular un conjunto de buenas prácticas para 
        trabajar colaborativamente, en equipo, y obtener el mejor resultado posible de un proyecto. Estas prácticas se 
        apoyan unas a otras y su selección tiene origen en un estudio de la manera de trabajar de equipos altamente productivos.</p>
        <div class="agile_services_bottom_grid_left_grids">
            <div class="col-md-6 agile_services_bottom_grid_left_grid">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h4>Entrega mensual o quincenal de resultados</h4>
                <p>
                    Se iran entregando los requisitos más importantes del proyecto,
                    dejando así la parte más irrelevante para lo último.
                </p>
            </div>
            <div class="col-md-6 agile_services_bottom_grid_left_grid">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h4>Productividad y calidad</h4>
                <p>De manera regular el equipo va mejorando y simplificando su forma de trabajar, apoyandose mutuamente en los problemas que pudiéran surgir.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="agile_services_bottom_grid_left_grids">
            <div class="col-md-6 agile_services_bottom_grid_left_grid">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h4>Cliente y equipo trabajando juntos</h4>
                <p>En cada iteración el equipo y el cliente trabajan juntos en la creación de los requisitos del proyecto, en darles detalles relevantes y en el análisis del resultado obtenido.</p>
            </div>
            <div class="col-md-6 agile_services_bottom_grid_left_grid">
                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                <h4>Equipo motivado</h4>
                <p>Las personas están más motivadas cuando pueden usar su creatividad para resolver problemas y cuando pueden decidir organizar su trabajo.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-6 agile_services_bottom_grid_right">
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //services-bottom -->
<!-- newsletter -->
<div class="newsletter">
    <div class="container">
        <h3>¿Deseas más información?</h3>
        <p class="qui">Permítenos comunicarnos contigo para informárte de todas las bondades de trabajar con SCRUM.</p>
        <form action="#" method="post">
            <input type="email" name="Email" value="Ingresa tu dirección de correo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ingresa Tu Dirección De Correo';}" required="">
            <input type="submit" value=" ">
        </form>
        <div class="agileits_social_icons_grids">
            <ul class="agileits_social_icons">
                <li class="icon icon--facebook">
                    <a href="#">
                        <span class="icon__name">Facebook</span>
                    </a>
                </li>
                <li class="icon icon--twitter">
                    <a href="#">
                        <span class="icon__name">Twitter</span>
                    </a>
                </li>
                <li class="icon icon--linkedin">
                    <a href="#">
                        <span class="icon__name">Google+</span>
                    </a>
                </li>
                <li class="icon icon--flickr">
                    <a href="#">
                        <span class="icon__name">LinkedIn</span>
                    </a>
                </li>
                <li class="icon icon--spotify">
                    <a href="#">
                        <span class="icon__name">Vimeo</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //newsletter -->
