@model AppEjemploLayout.Models.Proyecto_Usuario.ProyectoUsuarioRelacion

@{
    ViewBag.Title = "AgregarIntegrante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>@ViewBag.ID</p>

<h2>AgregarIntegrante</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
