
@{
    ViewBag.Title = "AsignarHU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contenido">
    <br /><br />
    <div class="form-horizontal">
        <h2 class="text-center">Agregar Historias de Usuario</h2>
        <div class="form-group">
            <div class="container">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre HU</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Perfil de Usuario</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Asignar Tareas</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>Agregar Sprint</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <button class="btn-success">Agregar</button>
                </div>
            </div>
        </div>
        
    </div>
</div>



