@{
    ViewBag.Title = "AsignarTareas";
}

<div hidden>
    <form>
        <input id="input-idUsuario" value="@ViewBag.IdUsuario" />
        <input id="input-idSprint" value="@ViewBag.IdSprint" />
    </form>
</div>
<div class="contenido">
    <div>
        <div class="row text-center titleContent">
            <h3>Asigna tus tareas!</h3>
            <br />
            <h3>Sprint: <span id="span-sprint"></span></h3>
        </div>

        <div class="row main-row">

            <div class="col-lg-2 col-md-2 col-sm-2">

                <div class="tbl">
                    <div id="menu2" class="tab-pane" fade>
                        <h4 class="text-center">Tareas por asignar</h4>
                        <ul id="ul-tareasAsignar" class="list-group"></ul>
                    </div>
                </div>

            </div> <!--Sidebar-->

            <div id="tbl" class="col-lg-10 col-lg-md-10 col-sm-10">
                <table id="tbl_Agenda" class="differentTable table  table-condensed table-bordered">
                    <thead>
                        <tr id="tblhead">
                            <th class="text-center">Iniciada</th>
                            <th class="text-center">En desarrollo</th>
                            <th class="text-center">Pendiente de pruebas</th>
                            <th class="text-center">Terminada</th>
                        </tr>
                    </thead>
                    <tbody id="tblbody"></tbody>
                </table>
            </div> <!--Table-->           

        </div> <!--End Row-->
    </div>
</div>

@Scripts.Render("~/scripts/jqueryUI");
@Scripts.Render("~/scripts/ctrl-asignarTareas");